<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RJCodeUI_M1.Settings.UIAppearanceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RJCodeUI_M1.Settings.UIAppearance" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RJCodeUI_M1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QuocHoiVNEntities" connectionString="metadata=res://*/QHVN.csdl|res://*/QHVN.ssdl|res://*/QHVN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.191;initial catalog=QuocHoiVN;persist security info=True;user id=sa;password=Server@20@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Preview_QuocHoi_KyHopServiceEntities" connectionString="metadata=res://*/QHKYHOP.csdl|res://*/QHKYHOP.ssdl|res://*/QHKYHOP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=Preview_QuocHoi_KyHopService;persist security info=True;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Preview_QuocHoi_NewsServiceEntities" connectionString="metadata=res://*/QHNEWS.csdl|res://*/QHNEWS.ssdl|res://*/QHNEWS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=CTTDTCDK_NewsServices;persist security info=True;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Preview_QuocHoi_CommonsServiceEntities" connectionString="metadata=res://*/QHCOMMON.csdl|res://*/QHCOMMON.ssdl|res://*/QHCOMMON.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=Preview_QuocHoi_CommonsService;persist security info=True;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Preview_QuocHoi_FilesServiceEntities" connectionString="metadata=res://*/QHCSMFILE.csdl|res://*/QHCSMFILE.ssdl|res://*/QHCSMFILE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=CTTDTCDK_FilesServices;persist security info=True;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Preview_QuocHoi_PhienHopServiceEntities" connectionString="metadata=res://*/QHPHIENHOP.csdl|res://*/QHPHIENHOP.ssdl|res://*/QHPHIENHOP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=Preview_QuocHoi_PhienHopService;persist security info=True;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CTTDTCDK_NewsServicesEntities" connectionString="metadata=res://*/CDKNews.csdl|res://*/CDKNews.ssdl|res://*/CDKNews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=CTTDTCDK_NewsServices;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CTTDTCDK_FilesServicesEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=APATIT_FilesServices;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CTTDTCDK_CommonsServicesEntities" connectionString="metadata=res://*/CDKCommonService.csdl|res://*/CDKCommonService.ssdl|res://*/CDKCommonService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.195;initial catalog=portalcdk_CommonsService;user id=sa;password=Server@20@#;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="portalcdk_CommonsServiceEntities" connectionString="metadata=res://*/CDKCommonService.csdl|res://*/CDKCommonService.ssdl|res://*/CDKCommonService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=APATIT_CommonsServices;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="portalcdk_QuestionsAnswersEntities" connectionString="metadata=res://*/CDKHoiDap.csdl|res://*/CDKHoiDap.ssdl|res://*/CDKHoiDap.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.195;initial catalog=portalcdk_QuestionsAnswers;user id=sa;password=Server@20@#;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APATIT_CommonsServicesEntities" connectionString="metadata=res://*/ApatitCommons.csdl|res://*/ApatitCommons.ssdl|res://*/ApatitCommons.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=APATIT_CommonsServices;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="APATIT_FilesServicesEntities" connectionString="metadata=res://*/ApatitFiles.csdl|res://*/ApatitFiles.ssdl|res://*/ApatitFiles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.199;initial catalog=APATIT_FilesServices;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Portal_Moet_NewsServicesEntities" connectionString="metadata=res://*/Moet_News.csdl|res://*/Moet_News.ssdl|res://*/Moet_News.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DN-PC\MSSQLSERVER222;initial catalog=Portal_Moet_NewsServices;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Portal_Moet_FilesServicesEntities" connectionString="metadata=res://*/Moet_Files.csdl|res://*/Moet_Files.ssdl|res://*/Moet_Files.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DN-PC\MSSQLSERVER222;initial catalog=Portal_Moet_FilesServices;user id=sa;password=Server@20@$;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <RJCodeUI_M1.Settings.UIAppearanceSettings>
      <setting name="Theme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Style" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ColorFormBorder" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChildFormMarker" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormIconActiveMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MultiChildForms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormBorderSize" serializeAs="String">
        <value>2</value>
      </setting>
    </RJCodeUI_M1.Settings.UIAppearanceSettings>
    <RJCodeUI_M1.Settings.UIAppearance>
      <setting name="Theme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Style" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultBorderColor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChildFormMarker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormIconActiveMenuItem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MultiChildForms" serializeAs="String">
        <value>False</value>
      </setting>
    </RJCodeUI_M1.Settings.UIAppearance>
  </userSettings>
  <applicationSettings>
    <RJCodeUI_M1.Properties.Settings>
      <setting name="RJCodeUI_M1_SPAuthentication_Authentication" serializeAs="String">
        <value>http://quochoi.erpuni.vn/_vti_bin/Authentication.asmx</value>
      </setting>
      <setting name="RJCodeUI_M1_SPService_Lists" serializeAs="String">
        <value>http://quochoi.erpuni.vn/_vti_bin/Lists.asmx</value>
      </setting>
      <setting name="RJCodeUI_M1_SPImage_Imaging" serializeAs="String">
        <value>http://quochoi.erpuni.vn/_vti_bin/Imaging.asmx</value>
      </setting>
      <setting name="RJCodeUI_M1_SPFolder_Dws" serializeAs="String">
        <value>http://quochoi.erpuni.vn/_vti_bin/Dws.asmx</value>
      </setting>
    </RJCodeUI_M1.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>